body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #4f4b54;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 26px;
  font-size: 19px;
}

nav {
  min-height: 50px;
  display: flex;
  justify-content: center;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #f1f5f9;
  height: calc(100vh - 50px);
  background-color: #9cc3f4;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

.bio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  padding: 30px;
}

.project {
  box-sizing: border-box;
  background-color: #9cc3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
  padding: 30px;
}

.technologies {
  font-size: unset;
  /* text-align: left; */
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul {
  width: 100%;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

li {
  display: inline;
  margin-right: 3px;
  /* align-content: center; */
  /* justify-self: center; */
  align-self: center;
}

nav ul li {
  margin-right: unset;
}

a {
  text-decoration: none;
}

.view-buttons {
  display: flex;
  justify-content: space-evenly;
}

.project:nth-child(2) {
  height: 100vh;
}

.project:nth-child(3) {
  height: 100vh;
}

.project:nth-child(4) {
  height: 100vh;
}

footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f1f5f9;
  background-color: #4f4b54;
}

button {
  background-color: #f1f5f9;
  color: #4f4b54;
  border: none;
  height: 30px;
  width: 90px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

.contact-icon {
  margin-left: 7px;
  height: 20px;
  width: 20px;
}

@media only screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p {
    line-height: 28px;
    font-size: 20px;
  }

  nav ul {
    margin-left: 35%;
    margin-right: 35%;
  }

  .bio {
    margin-right: 5%;
    margin-left: 5%;
  }

  .project {
    box-sizing: border-box;
    width: 50%;
  }
}