body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* color: #4f4b54; */
  color: #414449;
  /* background-color: #f1f5f9; */
  background-color: #E6EAEF;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 26px;
  font-size: 19px;
}

nav {
  min-height: 50px;
  display: flex;
  justify-content: center;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* color: #f1f5f9; */
  color: #E6EAEF;
  height: calc(100vh - 50px);
  /* background-color: #9cc3f4; */
  /* background-color: #6b16c7; */
  /* background-color: #2616C7; */
  background-color: #34558b;
  /* padding: 30px; */
  padding: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

.bio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  padding: 10%;
}

.project {
  box-sizing: border-box;
  /* background-color: #9cc3f4; */
  background-color: #34558b;
  /* background-color: #2616C7; */
  /* background-color: #6b16c7; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* color: #f1f5f9; */
  color: #E6EAEF;
  height: 100vh;
  /* padding: 30px; */
  padding: 10%;
}

.project-title {
  margin-top: 0;
}

.technologies {
  font-size: unset;
  /* text-align: left; */
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
}

nav ul {
  width: 100%;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

li {
  display: inline;
  margin-right: 3px;
  /* align-content: center; */
  /* justify-self: center; */
  align-self: center;
}

nav ul li {
  margin-right: unset;
}

a {
  text-decoration: none;
}

.view-buttons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 250px;
}

.project:nth-child(2) {
  height: 100vh;
}

.project:nth-child(3) {
  height: 100vh;
}

.project:nth-child(4) {
  height: 100vh;
}

footer {
  min-height: 50px;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* color: #f1f5f9; */
  color: #E6EAEF;
  /* background-color: #4f4b54; */
  background-color: #414449;
}

button {
  /* background-color: #f1f5f9; */
  background-color: #E6EAEF;
  /* color: #4f4b54; */
  color: #414449;
  border: none;
  height: 30px;
  width: 90px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

.contact-icon {
  margin-left: 7px;
  height: 20px;
  width: 20px;
}

@media only screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p {
    line-height: 28px;
    font-size: 20px;
  }

  nav ul {
    margin-left: 35%;
    margin-right: 35%;
  }

  header {
    padding: 7%;
  }

  .bio {
    /* margin-right: 5%;
    margin-left: 5%; */
    padding: 7%;
    /* padding: 30px; */
  }

  .project {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: space-between; */
    /* width: 50%; */
    /* margin-right: 5%;
    margin-left: 5%; */
    /* padding: 7%; */
    padding: 7%;
  }

  .project-screenshot {
    /* max-width: 36%; */
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 5%; */
    /* padding-right: 3.5px; */
    /* padding-left: 7%; */
    /* padding: 7%; */
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    /* margin-right: 5%; */
    padding-left: 7%;
  }
}