body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #414449;
  background-color: #E6EAEF;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 26px;
  font-size: 19px;
}

nav {
  min-height: 50px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #E6EAEF;
  height: calc(100vh - 50px);
  background-color: #34558b;
  padding: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

.code-image {
  align-self: center;
  width: 175px;
  height: auto;
  display: none;
}

.bio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  padding: 15%;
}

.center-text {
  text-align: center;
}

.project {
  box-sizing: border-box;
  background-color: #34558b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #E6EAEF;
  height: 100vh;
  padding: 10%;
}

.project-screenshot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

nav ul {
  width: 100%;
  justify-content: space-evenly;
}

li {
  display: inline;
  margin-right: 5px;
  align-self: center;
}

nav ul li {
  margin-right: unset;
}

a {
  text-decoration: none;
}

.view-buttons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 250px;
}

footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #E6EAEF;
  background-color: #414449;
}

button {
  background-color: #E6EAEF;
  color: #414449;
  border: none;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

button:hover {
  background-color: #1f4177;
  color: #E6EAEF;
}

.contact-icon {
  margin-right: unset;
  margin-left: 7px;
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
  }

  p {
    line-height: 28px;
    font-size: 20px;
  }

  nav ul {
    margin-left: 35%;
    margin-right: 35%;
  }

  header {
    flex-direction: row;
    height: 550px;
    justify-content: space-evenly;
  }

  .hero-picture-container {
    align-self: center;
    max-width: 40%;
  }

  .headline {
    max-width: 40%;
    align-self: center;
  }

  .code-image {
    display: unset;
  }

  .bio {
    min-height: unset;
    height: 700px;
    padding: unset;
    padding-left: 20%;
    padding-right: 20%;
    text-align: unset;
  }

  .project {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    height: 550px;;
    padding: 7%;
  }

  .project-screenshot {
    max-width: 50%;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-details {
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
  }
}